<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>[/001]</key>
	<string>Expression_1.png</string>
	<key>[/002]</key>
	<string>Expression_2.png</string>
	<key>[/003]</key>
	<string>Expression_3.png</string>
	<key>[/004]</key>
	<string>Expression_4.png</string>
	<key>[/005]</key>
	<string>Expression_5.png</string>
	<key>[/006]</key>
	<string>Expression_6.png</string>
	<key>[/007]</key>
	<string>Expression_7.png</string>
	<key>[/008]</key>
	<string>Expression_8.png</string>
	<key>[/009]</key>
	<string>Expression_9.png</string>
	<key>[/010]</key>
	<string>Expression_10.png</string>
	<key>[/011]</key>
	<string>Expression_11.png</string>
	<key>[/012]</key>
	<string>Expression_12.png</string>
	<key>[/013]</key>
	<string>Expression_13.png</string>
	<key>[/014]</key>
	<string>Expression_14.png</string>
	<key>[/015]</key>
	<string>Expression_15.png</string>
	<key>[/016]</key>
	<string>Expression_16.png</string>
	<key>[/017]</key>
	<string>Expression_17.png</string>
	<key>[/018]</key>
	<string>Expression_18.png</string>
	<key>[/019]</key>
	<string>Expression_19.png</string>
	<key>[/020]</key>
	<string>Expression_20.png</string>
	<key>[/021]</key>
	<string>Expression_21.png</string>
	<key>[/022]</key>
	<string>Expression_22.png</string>
	<key>[/023]</key>
	<string>Expression_23.png</string>
	<key>[/024]</key>
	<string>Expression_24.png</string>
	<key>[/025]</key>
	<string>Expression_25.png</string>
	<key>[/026]</key>
	<string>Expression_26.png</string>
	<key>[/027]</key>
	<string>Expression_27.png</string>
	<key>[/028]</key>
	<string>Expression_28.png</string>
	<key>[/029]</key>
	<string>Expression_29.png</string>
	<key>[/030]</key>
	<string>Expression_30.png</string>
	<key>[/031]</key>
	<string>Expression_31.png</string>
	<key>[/032]</key>
	<string>Expression_32.png</string>
	<key>[/033]</key>
	<string>Expression_33.png</string>
	<key>[/034]</key>
	<string>Expression_34.png</string>
	<key>[/035]</key>
	<string>Expression_35.png</string>
	<key>[/036]</key>
	<string>Expression_36.png</string>
	<key>[/037]</key>
	<string>Expression_37.png</string>
	<key>[/038]</key>
	<string>Expression_38.png</string>
	<key>[/039]</key>
	<string>Expression_39.png</string>
	<key>[/040]</key>
	<string>Expression_40.png</string>
	<key>[/041]</key>
	<string>Expression_41.png</string>
	<key>[/042]</key>
	<string>Expression_42.png</string>
	<key>[/043]</key>
	<string>Expression_43.png</string>
	<key>[/044]</key>
	<string>Expression_44.png</string>
	<key>[/045]</key>
	<string>Expression_45.png</string>
	<key>[/046]</key>
	<string>Expression_46.png</string>
	<key>[/047]</key>
	<string>Expression_47.png</string>
	<key>[/048]</key>
	<string>Expression_48.png</string>
	<key>[/049]</key>
	<string>Expression_49.png</string>
	<key>[/050]</key>
	<string>Expression_50.png</string>
	<key>[/051]</key>
	<string>Expression_51.png</string>
	<key>[/052]</key>
	<string>Expression_52.png</string>
	<key>[/053]</key>
	<string>Expression_53.png</string>
	<key>[/054]</key>
	<string>Expression_54.png</string>
	<key>[/055]</key>
	<string>Expression_55.png</string>
	<key>[/056]</key>
	<string>Expression_56.png</string>
	<key>[/057]</key>
	<string>Expression_57.png</string>
	<key>[/058]</key>
	<string>Expression_58.png</string>
	<key>[/059]</key>
	<string>Expression_59.png</string>
	<key>[/060]</key>
	<string>Expression_60.png</string>
</dict>
</plist>
